<a href="https://colab.research.google.com/github/bhuvantamil1337/bhuvmachine/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
#Linear_Regression model
import numpy as np

class Linear_Regression:
    def __init__(self, learning_rate, n_iters):
        self.learning_rate = learning_rate
        self.n_iters = n_iters
        self.w = None
        self.b = None

    def fit(self, x, y):
        self.m, self.n = x.shape
        self.w = np.zeros(self.n)
        self.b = 0

        for i in range(self.n_iters):
            self.update_weight(x, y)

    def update_weight(self, x, y):
        y_prediction = self.predict(x)
        dw = -(2 * (x.T).dot(y - y_prediction)) / self.m
        db = -(2 * np.sum(y - y_prediction)) / self.m
        self.w = self.w - self.learning_rate * dw
        self.b = self.b - self.learning_rate * db

    def predict(self, x):
        return x.dot(self.w) + self.b

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [48]:
salary = pd.read_csv('/content/salary_data.csv')
salary

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [49]:
salary.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [68]:
print(salary.describe)

<bound method NDFrame.describe of     YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872>

In [51]:
print(x.describe())print(x)
print(y)

[[ 1.1]
 [ 1.3]
 [ 1.5]
 [ 2. ]
 [ 2.2]
 [ 2.9]
 [ 3. ]
 [ 3.2]
 [ 3.2]
 [ 3.7]
 [ 3.9]
 [ 4. ]
 [ 4. ]
 [ 4.1]
 [ 4.5]
 [ 4.9]
 [ 5.1]
 [ 5.3]
 [ 5.9]
 [ 6. ]
 [ 6.8]
 [ 7.1]
 [ 7.9]
 [ 8.2]
 [ 8.7]
 [ 9. ]
 [ 9.5]
 [ 9.6]
 [10.3]
 [10.5]]
[ 39343  46205  37731  43525  39891  56642  60150  54445  64445  57189
  63218  55794  56957  57081  61111  67938  66029  83088  81363  93940
  91738  98273 101302 113812 109431 105582 116969 112635 122391 121872]

In [50]:
x = salary.iloc[:,:-1].values
y = salary.iloc[:,1].values

In [62]:
print(type(x))

<class 'float'>

In [61]:
print(x.describe())

AttributeError: 'float' object has no attribute 'describe'

In [52]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size = 0.3333,random_state =2)

In [45]:
model = Linear_Regression(learning_rate=0.02, n_iters=1000000)

model.fit(x_train,y_train)

In [53]:
print('weight=',model.w[0])
print('bias=',model.b)

weight= 9512.944987627436
bias= 23707.81324657524

In [65]:
x=5.313333

y= 9512.944987627436*x + 23707.81324657524
print(y)

74253.25777652068